<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-K3MTTDGJF4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-K3MTTDGJF4');
  </script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta property="og:title" content="{{page.title}}">
  {% if page.image.og != null %}
  <meta property="og:image" content="{{page.image.og| prepend: '/assets/img/' | absolute_url}}">
  {% else %}
  <meta property="og:image" content="{{page.image.feature| prepend: '/assets/img/' | absolute_url}}">
  {% endif %}
  <meta name="author" content="{{page.author}}">
  <meta name="description" property="og:description" content="{{page.title}}">
  <title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
  <link rel="stylesheet" href="{{'/assets/css/animate.css' | relative_url}}" />
  <link rel="stylesheet" href="{{'/assets/css/main.css' | relative_url}}" />
  <link rel="stylesheet" href="{{'/assets/css/ocStyle.css' | relative_url}}" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous" />
  <link rel="icon" href="{{'favicon.ico' | relative_url}}" type="image/gif" sizes="16x16">
</head>