<!-- Nav Footer Section-->

<div class="container-background-gray-oc">
    <div class="container">

        <div class="d-flex py-4 underline-footer">
            <div class="p-2 flex-grow-1"><img src="{{'/assets/img/logo.svg' | relative_url }}" width="155" alt=""></div>
            <div class="p-2"><a href="https://twitter.com/hashtag/openCAESAR?src=hashtag_click"><i
                        style="font-size: 32px;" class="fa-brands fa-x-twitter"></i></a></div>
            <div class="p-2"><a href="https://www.linkedin.com/search/results/all/?keywords=%23opencaesar"><i 
                        style="font-size: 32px;" class="fa-brands fa-linkedin"></i></a></div>
            <div class="p-2"><a href="https://www.youtube.com/@melaasar/featured"><i
                        style="font-size: 32px;" class="fa-brands fa-youtube"></i></a></div>
        </div>

        <div class="row pt-2">
            {% for item in site.data.navigation_footer %}
            <div class="col-lg-2 col-sm-6 col-6 pt-4 pl-3 pr-0">
                <a class="footer-nav-text" href="{{ item.link | relative_url }}">{{item.name}}</a>
            </div>
            {% endfor %}
            <!--Large View-->
            <div class="col-lg-2 col-sm-6 col-6 pt-4 pl-3 pr-0 d-none d-lg-block">
                <a class="footer-nav-text" href="{{ # | relative_url}}">Terms of Service</a>
            </div>
            <!---->
            <div class="col-lg-2 col-sm-12 col-12 pt-4 pl-3">
                <p class="footer-nav-text" style="text-decoration: none">Have a question? Want to partner with us?</p>
                <a class="btn get-started-link w-100 mt-4" href="{{'/contributors'| relative_url}}">Contact Us</a>
            </div>
            <!--Small View-->
            <div class="col-lg-2 col-sm-12 col-12 pt-4 pl-3 pb-4 pr-0 d-block d-lg-none">
                <a class="footer-nav-text" href="{{ # | relative_url}}">Terms of Service</a>
            </div>
            <!---->

        </div>
        <div class="row pt-2">
            <p class="text-oc text-white">&#169; 2024 California Institute of Technology. Government sponsorship
                acknowledged.</p>
        </div>

    </div>

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />