---
layout: base
title: Projects
navlink: /project
---

<!--Release Section-->
<div class="container">
    <!--Heading-->
    <div class="row mt-5 mb-4">
        <div class="col">
            <p class="title-oc">{{page.title}}</p>
        </div>
    </div>

    <!-- Current project list -->
    <p class="title-oc">Current</p>
    <div class="row pl-1 pb-3 mb-5">
        {% for post in site.projects reversed%}
        {% if post.current %}
        <div id={{forloop.index}} class="col col-sm-12 col-lg-4 pt-3 px-2">
            <div class="card">
                <div class="card-body blog-card-oc pt-4">
                    <p class="blog-card-date-oc">{{post.date | date: '%B %d, %Y'}}</p>
                    <p class="blog-card-title-oc">{{post.title}}</p>
                    <img src="{{post.image.feature | prepend: 'assets/img/' | relative_url}}" class="mr-3" style="width: 150px;">
                    <div class="blog-auth-info">
                        <div class="card-underline mb-4"></div>
                        <div class="media">
                          <img src="{{post.author_image | prepend: 'assets/img/' | relative_url}}" class="mr-3" style="width: 50px; border-radius: 2rem">
                          <div class="media-body">
                            <p class="card-auth-name mt-2">{{post.author}}</p>
                          </div>
                        </div>
                        <a href="{{post.url | relative_url}}" class="btn btn-outline-primary button-oc mt-5">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <!---->

    <!-- Past project list -->
    <p class="title-oc">Past</p>
    <div class="row pl-1 pb-3 mb-5">
        {% for post in site.projects reversed%}
        {% if post.current == false %}
        <div id={{forloop.index}} class="col col-sm-12 col-lg-4 pt-3 px-2">
            <div class="card">
                <div class="card-body blog-card-oc pt-4">
                    <p class="blog-card-date-oc">{{post.date | date: '%B %d, %Y'}}</p>
                    <p class="blog-card-title-oc">{{post.title}}</p>
                    <img src="{{post.image.feature | prepend: 'assets/img/' | relative_url}}" class="mr-3" style="width: 150px;">
                    <div class="blog-auth-info">
                        <div class="card-underline mb-4"></div>
                        <div class="media">
                          <img src="{{post.author_image | prepend: 'assets/img/' | relative_url}}" class="mr-3" style="width: 50px; border-radius: 2rem">
                          <div class="media-body">
                            <p class="card-auth-name mt-2">{{post.author}}</p>
                          </div>
                        </div>
                        <a href="{{post.url | relative_url}}" class="btn btn-outline-primary button-oc mt-5">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <!---->

</div>
<!---->
